/* App.css */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme Variables */
:root {
  --primary-color: #179BAE;
  --secondary-color: #179BAE;
  --accent-color: hsl(30, 37%, 7%);
  --background-color: #1c2e4a;
  --text-color: #F1DEC6;
}

/* Global Styles */
html, body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
}

/* App Container */
.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("greysky.jpg");
}

/* Logo Styles (if needed) */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Utility Classes */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
